<!Doctype HTML>
<html lang="FR-fr">
<head>
    <title>Ma todolist</title>
</head>
<body>
<section>
    <ul>
        {% for todo, isDone in todolist %}
            {% if not isDone %}
                <li>
                    <a href="/delete?toDel={{ todo|url_encode }}"
                       onclick="confirm('Voulez vraiment supprimer la tâche : {{ todo }} ?')">❌</a> {{ todo }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div>
        <form method="POST" action="/">
            <label for="addedTask">Nouvelle tâche : </label>
            <input type="text" name="addedTask"/>
            <input type="submit">
        </form>
    </div>
</section>
</body>
</html>